
.title-steps{
    font-weight: bold;
    font-size: 18px;
}
.container-wears{
    width: 100%;
    height: 370px;
    max-height: 390px;
    display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar; 
    padding: 20px;


    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
        width: 100px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid #e5e5e5;
        background-color: rgba(0, 0, 0, .5);
    }
    &__item{
        width: 300px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        flex: 0 0 auto;
        margin-right: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        transition: 0.5s;

        .button-confirm-item{
            width: 110px;
            background: #84BD00;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            color: white;
            height: 22px;
            align-items: center;
            margin-top: 10px;
        }
        img{
            width: 100%;
            height: 200px;
            object-fit: contain;
        }
        .details-item{
            display: flex;
            flex-direction: column;

            .title-colors{
                display: flex;
                justify-content: space-between;
                &__c1{
                    font-size: 14px;
                    font-weight: 700;
                }
                &__c2{
                    font-size: 10px;
                    display: flex;

                    .item-color{
                        width: 15px;
                        height: 15px;
                        border-radius: 7.5px;
                        border: black 2px solid;
                        margin: 0 2px;
                        cursor: pointer;
                    }
                    .selected-color{
                        border: #84BD00 2px solid;
                    }
                }
            }
            .description-item{
                font-size: 10px;
                font-weight: 300;
                margin-top: -5px;
                height: 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 250px;
            }
        }
        .details-wear-item{
            display: flex;
            justify-content: space-between;
            div{
                display: flex;
            }
            input{
                display: flex;
                width: 38px;
                border: none;
                padding: 0;
                margin: auto;
                font-size: 20px;
                margin-top: -1px;
                text-align: center;
            }
            .count-item{
                font-size: 12px;
                font-weight: 600;
                display: flex;
                font-size: 18px;
            }
            .plus-i{
                color: #84BD00;
                font-size: 34px;
                font-weight: 500;
                margin: 0 10px;
                cursor: pointer;           
            }
            .talla-item{
                font-size: 12px;
                font-weight: 600;

                select{
                    width: 75px;
                    border: none;
                    background-color: white;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    padding-right: 20px;
                    font-size: 16px;
                    background: url("../../../images/droparrow.png") 96% / 22% no-repeat;
                }
            }
            .price-item{
                font-style: italic;
                font-size: 12px;
            }
            .verticalline{
                width: 1px;
                border: 0.5px solid #C4C4C4;
                height: 100%;
                margin: 0 14px;
            }
        }
    }
}

/*overview*/
.containr-overview{
    padding: 20px;
    width: 100%;
}
.c-overview{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    width: 100%;
    padding: 20px 40px;

    table{
        width: 100%;
        margin: 0;
    }

    hr{    
        width: 90%;
    }
}
.cnt-btn-checkout{
    display: flex;
    justify-content: center;

    button{
        background: #171717;
        border-radius: 24px;
        color: white;
        padding: 12px 32px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }
    button:disabled{
        background: #00000081;
        cursor: not-allowed;
    }
}
.color-point{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    border: solid 1px black;
}
.input-location{
    border-bottom: 1px solid rgb(196, 196, 196) !important;
}
.input-location,
.input-location:active,
.input-location:hover{
    border: none;
    margin-left: 6px;
    cursor: pointer;
}
ul.react-autocomplete-input{
    border: none;
}
ul.react-autocomplete-input > li{
    color: #171717;
    background-color: white;
    padding: 6px 12px;
    font-size: 12px;
}
ul.react-autocomplete-input > li.active{
    background-color: #84BD00;
}
.input-gender{
    border: solid 3px black;
    background-color: #84BD00;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.input-gender-female{
    border: solid 3px black;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.container-card-checkout{
    display: flex;
    padding: 20px;
    justify-content: space-between;

    .checkout-card-1{
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        width: 240px;
        padding: 20px;
        p{
            font-size: 14px;
        }
    }
}
.item-shipping-method{
    display: flex;
    padding: 10px;
    border: solid 0.5px;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}
.item-shipping-method-s{
    display: flex;
    padding: 10px;
    border: solid 0.5px #84BD00;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #84BD00;
    color: white;
}
.btn-add-shipping-method{
    padding: 0px 20px;
    width: 220px;
    background: #84BD00;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
    height: 36px;
    align-items: center;
    margin-top: 30px;
}
.btn-add-shipping-method:disabled{
    cursor: not-allowed;
    background: rgba(132, 189, 0, 0.45);;
    color: white;
}

.btn-Shippinglast{
    color: white;
    background-color: #84BD00;
    border-radius: 21px;
    padding: 6px 20px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 159px;
    margin: 0 auto;
    margin-top: 20px;
}
.btn-Shippinglast-gris{
    color: white;
    background-color: #c4c4c4;
    border-radius: 21px;
    padding: 6px 20px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 159px;
    margin: 0 auto;
    margin-top: 20px;
}
.item-selected-shipping-last{
    border: 1px solid rgb(132, 189, 0);
    width: 280px;
    padding: 11px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(132, 189, 0,0.1);
    margin: 10px 0;
}
.item-selected-shipping-last-gris{
    border: 1px solid black;
    width: 280px;
    padding: 11px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 0;
}
.container-items-shipping{
    height: 240px;
    overflow-y: scroll;
}