@import "../../../globalStyles/scss/variables.scss";

.footer-home {
  height: 30vh;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-all {
  height: 30vh;
  width: 100%;
  background-color: white;
}
.separator-v{
  width: 1px;
  height: 26vh;
  background-color: black;
}
.footer-c2{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;

  &__c1{
    display: flex;
    flex-wrap: nowrap;

    .iconos{
      display: flex;
      flex-direction: row;
    }
    .column-f{
      display: flex;
      flex-direction: column;
      padding: 0 20px 0 0;
      min-width: 145px;

      p{
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 10px;
      }
      a{
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        color: #575656;
        margin: 2px 0;
      }
    }
  }
  .footer-bottom{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
  }
}
.footer-c1{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  p{
    width: 346px;
    height: 65px;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 135.94%;
    text-align: center;
    color: #575656;
  }
  span{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-top: 12px;
    color: #000000;
  }
}
.right-container{
  &__hero{
    position: absolute;
    height: calc( 100vh - 56px );
    width: 300px;
    right: 0;
    top: 0;
    background-color: $green-hp;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 20px;
    min-height: 560px;

    &__works-text{
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;

      color: #FFFFFF;

    }
  }
}
.card-container{
  display: flex;
    flex-direction: column;
    height: calc( 100vh - 56px - 80px );
    justify-content: space-between;
    margin-top: 20px;
}
.card-step{
    width: 264px;
    height: 30%;
    max-height: 170px;
    min-height: 146px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-radius: 24px;
    padding: 14px;

    p{
      margin-top: 10px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;

      color: #1F2421;
    }
    span{
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      margin-top: 8px;
      color: #575656;
    }
    &__image{

      height: 50%;
      background: #E4572E;
      border: 2px solid #000000;
      box-sizing: border-box;
      border-radius: 24px;
      position: relative;
      img{
        height: 100%;
        object-fit: contain;
        position: absolute;
        bottom: -1px;
        right: 0;
        left: 0;
        margin: 0 auto;
        height: 120%;
      }
    }
}
.home-page {
  &__hero {
    background-color: $blue-overlay;
    padding: 20px 0;
    height: calc( 100vh - 56px );
    position: relative;
    &-text {
      overflow: hidden;
    }

    @media (max-width: $small-screen) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 56px);
      justify-content: space-between;
      padding: $spacer;

      &-text {
        margin-top: $spacer * 5;
        width: 100%;
      }

      &-action {
        margin-bottom: $spacer * 3;
        width: 100%;
      }
    }
    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(45deg);
      padding: $spacer $spacer * 3;
      margin-bottom: $spacer / 2;

      @media (max-width: $small-screen) {
        padding: 0.6rem $spacer;
        width: calc(100% - 4rem);
      }

      h1 {
        display: inline-block;
        transform: skew(-45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $blue;
        font-size: $h1-font-size;
        font-weight: 900;

        @media (max-width: $small-screen) {
          font-size: $h4-font-size;
        }

        @media (min-width: $small-screen) and (max-width: $medium-screen) {
          font-size: 48px;
        }
      }
    }
  }
  &__cont-home{
      display: flex;
      width: calc( 100% - 240px );
      align-items: center;

      &__c1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        p{
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 47px;
          color: #000000;
          width: 384px;
          margin-bottom: 22px;
        }
        span{
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 140.62%;
          color: #575656;
          width: 384px;
        }
        button{
          margin-top: 30px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
          background: #1F2421;
          border-radius: 24px;
          width: 176px;
          height: 53px;
          justify-content: center;
        }
      }
      &__c2{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 90%;
        }
      }
  }
  &__categories {
    margin-bottom: 2rem;

    h3 {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: 1rem;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @media (min-width: $small-screen) {
        grid-template-columns: 1fr 1fr;

        > div {
          &:nth-child(3) {
            grid-column: 3 / 1;
          }

          &:nth-child(n + 4) {
            display: none;
          }
        }
      }

      a {
        text-decoration: none;
        color: $base-font-color;

        h3 {
          text-transform: uppercase;
          font-weight: $bold-font-weight;

          &:after {
            content: url("../../../images/carousel-arrow.svg");
            display: inline-block;
            transform: rotate(180deg);
            margin-left: 1rem;
          }
        }
      }

      &__image {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;

        &--no-photo {
          background-color: $turquoise-light;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
