@import "../../../globalStyles/scss/variables.scss";

.start-page{
    background-color: $blue-overlay;
    min-height: 100vh;
    width: 100%;
    position: relative;


    &__title{
        font-weight: bold;
        font-size: 24px;
        line-height: 42px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-top: 20px;
    }
    &__main-banner{
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: flex-start;

        &__bg-image{
            background: #84BD00;
            border: 2px solid #000000;
            box-sizing: border-box;
            border-radius: 24px;
            width: 386px;
            height: 140px;
            display: flex;
            justify-content: center;

            img{
                width: 100%;
                height: 180px;
                object-fit: contain;
                margin-top: -50px;
            }
        }
        &__cont-text {
            width: 530px;
            height: 140px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px 20px 20px;

            p{
                font-weight: bold;
                font-size: 20px;
                line-height: 40px;
                display: flex;
                align-items: center;
                color: #1F2421;
            }
            span{
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #575656;
            }
        }
        @media (max-width: 600px) {
            height: 240px;

            &__bg-image{
                height: unset;
                img{
                    margin-top: 0;
                    width: 150%;
                }
            }
            &__cont-text {
                height: unset;
                p{
                    line-height: 22px;
                    margin-bottom: 14px;
                }
            }
        }
    }
}

.container-step1{

    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    .i-left{
        padding-left: 0 !important;
    }
    .i-right{
        padding-right: 0 !important;
        
        div{
            background: #84BD00;
            color: white;
        }
    }
    &__item{
        width: 100%;
        height: 160px;
        padding: 10px;
        .item-div{
            width: 100%;
            height: 100%;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p{
                font-weight: 400;
                font-size: 12px;
                text-align: center;
                line-height: 1rem;
            }
            img{
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "grid-area-a grid-area-a" "grid-area-b grid-area-d" "grid-area-e grid-area-e";

        .grid-area-a { grid-area: grid-area-a; }

        .grid-area-b { grid-area: grid-area-b; }

        .grid-area-d { grid-area: grid-area-d; }

        .grid-area-e { grid-area: grid-area-e; }
        .i-left{
            padding-left: 10px !important;
        }
        .i-right{
            padding-right: 10px !important;
        }
    }
}
.container-maps{
    width: 100%;
    height: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    overflow: hidden;
}
.start-page-steps{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 2;
}
.open-s{
    animation-name: showEffectSidebar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.close-s{
    animation-name: hideEffectSidebar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.start-page-sidebar{
    position: fixed;
    top: 56px;
    right: 0;
    width: 300px;
    height: calc( 100vh - 56px - 80px );
    z-index: 2;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 600px) {
        align-items: flex-end;
        width: 250px;
    }
    &__container{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 24px;
        width: 250px;
        height: 100%;
        background-color: #84BD00;

    }
    &__button{
        width: 50px;
        height: 100px;
        background-color: #84BD00;
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @media (max-width: 600px) {
            width: 40px;
            height: 80px;
            position: absolute;
            left: -40px;
            bottom: 60px;
        }

        .left-arrow {
            border-color: transparent white;
            border-style: solid;
            border-width: 20px 20px 20px 0px;
            height: 0px;
            width: 0px;
        }
        .right-arrow {
            border-color: transparent white;
            border-style: solid;
            border-width: 20px 0px 20px 20px;
            height: 0px;
            width: 0px;
            margin-left: 15px;
        }
    }
   
}
@keyframes showEffectSidebar {
    0%   { right: -250px;}
    100% {right: 0;}
}
@keyframes hideEffectSidebar {
    0%   { right: 0;}
    100% {right: -250px;}
}
.title-container-and-filters {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 20px;

    @media (max-width: 600px) {
        flex-direction: column;

        .title-steps{
            margin-bottom: 30px !important;
        }
    }
}

/*datepicker*/
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range {
    background-color: #84BD00 !important;
}
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover, .react-datepicker__quarter-text--selected:hover, .react-datepicker__quarter-text--in-selecting-range:hover, .react-datepicker__quarter-text--in-range:hover{
    background-color: #84BD00 !important;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: #84BD00;
    color: #fff;
}
.react-datepicker-popper{
    z-index: 3 !important;
}