.container-bottomnav{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 3fr;

    &__item-o{
        width: 100%;
        height: 80px;
        background-color: #84BD00;
        color: white;
        padding-left: 20px;
        div{
            width: 100%;
            height: 80px;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                height: 20px;
                object-fit: contain;
            }
            p{
                font-size: 12px;
                margin-top: 2px;
            }
        }
    }
    &__item{
        width: 100%;
        height: 80px;
        position: relative;
        
        div{
            width: 100%;
            height: 80px;
            position: absolute;
            color: black;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                height: 20px;
                object-fit: contain;
            }
            p{
                font-size: 12px;
                margin-top: 2px;
            }
        }
        div:hover > p{
            color: #84BD00;
        }
        &:before {
            content: "";
            position: absolute;
            height: 44px;
            width: 44px;
            transform-origin: 0% 0%;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            transform: rotate(45deg) skew(15deg, 15deg);
            right: -45px;
            top: -2px;
            background: white;
            border-top: 2px solid #DFDFDF;
            border-right: 2px solid #DFDFDF;
          }
    }
    @media (max-width: 600px) {

        grid-template-columns: 1fr 1fr 1fr;


        .bottomnav-item-disabled{
            display: none;
        }
    }
}