.sidebar-container{
    padding: 20px;
    color: white;

    p{
        font-size: 12px;
        line-height: 19px;
        font-weight: 300;
        font-style: italic;    
    }
    hr{    
        border: white solid 1px;
        width: 90%;
    }
}